<div class="about-me">
    <div class="user">
        <div>
            <img id="photo" src="../../../assets/img/user.png" alt="Francisco Almado">
        </div>
        <div>
            <h1>Francisco Almado</h1>
            <h4>Software Developer</h4>
        </div>
    </div>
    <div class="description">
        <h2>About me</h2>
        <p>
            Desarrollador de software aprendiendo cada día de las tecnologías, procesos y metodologías necesarias para brindar 
            soluciones en el mundo actual que nos rodea. Mi pasión por la tecnología y la programación, son el soporte para 
            adquirir conocimientos constantemente, muchas veces de manera autodidacta. Me gusta centrarme en objetivos. 
            En lo personal, puedo comunicarme y mantener buenas relaciones. Puedo realizar trabajo colaborativo, estando en la 
            disposición de ser parte de un equipo de desarrollo. Actualmente, me encuentro estudiando la carrera de Desarrollo 
            Web en la Universidad Nacional de La Matanza.
        </p>
    </div>
    <div class="edition">
        <a href="#"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
    </div>
</div>