<div class="about-me">
    <div class="user">
        <div>
            <img id="photo" src="{{persona.img}}" alt="Imagen de perfil">
        </div>
        <div> 
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <h4>{{persona.profesion}}</h4>
        </div>
    </div>
    <div class="description">
        <h2>About me</h2>
        <p>{{persona.aboutMe}}</p>
    </div>
    <div class="edition">
        <a [routerLink]="['editar-persona', persona.id]" *ngIf="isLogged"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
    </div>
</div>