<a id="login" href="#openModal">Login</a>

<aside>
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h4>Ingresar al sistema</h4>
            <p>Para activar la edición del Portfolio Web</p>
            <form action="#" method="post">
                <label id="label" for="username">Username</label>
                <div class="container">
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <label id="label" for="password">Password</label>
                <div class="container">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="container">
                    <button type="submit" id="get-into">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</aside>