.login {
    height: 100vh;
	background: rgb(98, 98, 127, 0.3);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modal{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: auto;
	background: #62627f;
    padding: 1em;
    border-radius: 2em;
}

h4{
    font-family: 'Open Sans', sans-serif;
    padding: .3em 0;
    font-size: 1.2em;
    color: #f8fafb;
    text-align: center; 
    letter-spacing: .1em;
}

p{
    font-family: 'Open Sans', sans-serif;
    padding: 1em 1em;
    font-size: 1em;
    color: #f8fafb;
    text-align: center;
    letter-spacing: .1em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 0;
}

#label{
    font-family: 'Open Sans', sans-serif;
    color: #f8fafb;
    font-weight: bold;
    padding-bottom: 10px;
    width: 90%;
}

.container label::placeholder{
	font-family: 'Open Sans', sans-serif;
    letter-spacing: .1em;
}

.container input{
    width: 90%;
    height: 2.5em;
    padding: .5em;
}

#get-into{
    width: 90%;
    height: 3em;
    cursor: pointer;
    background-color: #1a73e8;
    font-size: .9rem;
    color: #f8fafb;
    border: none;
    border-radius: .4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 1em 0;
    margin: auto;
}

#get-into:hover{
    background-color: #78bf98;
    color: #f8fafb;
    transition: .7s;
}