<div class="login">
    <div class="modal">
        <h4>Ingresar al sistema</h4>
        <p>Para activar la edición del Portfolio Web</p>
        <form (ngSubmit)="onLogin()" novalidate>
            <div class="container">
                <label id="label" for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username"
                    required />
            </div>
            <div class="container">
                <label id="label" for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password"
                    required />
            </div>
            <div class="container">
                <button type="submit" id="get-into">Ingresar</button>
            </div>
        </form>
    </div>
</div>