<section>
    <h3>Idiomas</h3>
    <div class="add-remove">
        <a href="#"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
        <a href="#"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
    </div>
    <article> 
        <div class="grid">
            <div class="box">
                <div>
                    <label for="language">Idioma 1</label>
                    <select name="language" id="language">
                        <option value="#">Elija un idioma</option>
                        <option value="German">Alemán</option>
                        <option value="Modern Standard Arabic">Árabe estándar moderno</option>
                        <option value="Mandarin Chinese">Chino mandarín</option>
                        <option value="Spanish">Español</option>
                        <option value="French">Francés</option>
                        <option value="Hindi">Hindi</option>
                        <option value="English">Inglés</option>
                        <option value="Italian">Italiano</option>
                        <option value="Japanese">Japonés</option>
                        <option value="Portuguese">Portugués</option>
                        <option value="Russian">Ruso</option>
                        <option value="Russian">Otro</option>
                    </select>
                </div>
                <div>
                    <label for="level">Nivel</label>
                    <select name="level" id="level">
                        <option value="#">Elija un nivel</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                    </select>
                </div>
            </div>
            <div class="box">
                <div>
                    <label for="language">Idioma 2</label>
                    <select name="language" id="language">
                        <option value="#">Elija un idioma</option>
                        <option value="German">Alemán</option>
                        <option value="Modern Standard Arabic">Árabe estándar moderno</option>
                        <option value="Mandarin Chinese">Chino mandarín</option>
                        <option value="Spanish">Español</option>
                        <option value="French">Francés</option>
                        <option value="Hindi">Hindi</option>
                        <option value="English">Inglés</option>
                        <option value="Italian">Italiano</option>
                        <option value="Japanese">Japonés</option>
                        <option value="Portuguese">Portugués</option>
                        <option value="Russian">Ruso</option>
                        <option value="Russian">Otro</option>
                    </select>
                </div>
                <div>
                    <label for="level">Nivel</label>
                    <select name="level" id="level">
                        <option value="#">Elija un nivel</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                    </select>
                </div>
            </div>
            <div class="box">
                <div>
                    <label for="language">Idioma 3</label>
                    <select name="language" id="language">
                        <option value="#">Elija un idioma</option>
                        <option value="German">Alemán</option>
                        <option value="Modern Standard Arabic">Árabe estándar moderno</option>
                        <option value="Mandarin Chinese">Chino mandarín</option>
                        <option value="Spanish">Español</option>
                        <option value="French">Francés</option>
                        <option value="Hindi">Hindi</option>
                        <option value="English">Inglés</option>
                        <option value="Italian">Italiano</option>
                        <option value="Japanese">Japonés</option>
                        <option value="Portuguese">Portugués</option>
                        <option value="Russian">Ruso</option>
                        <option value="Russian">Otro</option>
                    </select>
                </div>
                <div>
                    <label for="level">Nivel</label>
                    <select name="level" id="level">
                        <option value="#">Elija un nivel</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                    </select>
                </div>
            </div>
        </div>
    </article>
</section>
<hr>