<section>
    <h3>Proyectos</h3> 
    <div class="add-remove">
        <a [routerLink]="['nuevo-proyecto']" *ngIf="isLogged"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
    </div>
    <article *ngFor="let Proyecto of proyecto"> 
        <div class="information">
            <div class="data">
                <p>Proyecto: <span id="details">{{Proyecto.nombre}}</span></p>
                <p>Tecnologías: <span>{{Proyecto.tecnologias}}</span></p>
                <p>Período: <span>{{Proyecto.periodo}}</span></p>
                <p>Descripción: <span>{{Proyecto.descripcion}}</span></p>
            </div>
            <div class="edition">
                <a [routerLink]="['editar-proyecto', Proyecto.id]" *ngIf="isLogged"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
                <a (click)="delete(Proyecto.id)" *ngIf="isLogged"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
            </div>
        </div>
    </article>
</section>