.section-banner{
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .05em solid #4d4d4d;
}

#banner{
    width: 70%;
    height: auto;
    animation: 1s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}