<section>
    <h3>Educación</h3>
    <div class="add-remove">
        <a [routerLink]="['nueva-educacion']" *ngIf="isLogged"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
    </div>
    <article *ngFor="let Educacion of educacion"> 
        <div class="information">
            <div class="data"> 
                <p>Institución: <span>{{Educacion.institucion}}</span></p>
                <p>Carrera: <span id="details">{{Educacion.carrera}}</span></p>
                <p>Período: <span>{{Educacion.periodo}}</span></p>
                <p>Comentarios: <span>{{Educacion.comentarios}}</span></p>
            </div>
            <div class="edition">
                <a [routerLink]="['editar-educacion', Educacion.id]" *ngIf="isLogged"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
                <a (click)="delete(Educacion.id)" *ngIf="isLogged"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
            </div>
        </div>
    </article>
</section>
<hr>