<section>
    <h3>Educación</h3>
    <div class="add-remove">
        <a href="#"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
        <a href="#"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
    </div>
    <article> 
        <div class="information">
            <div>
                <a href="https://www.unlam.edu.ar/" title="Universidad Nacional de La Matanza" target="_blank"><img class="organization" src="../../../assets/img/unlam.png" alt="Unlam"></a>
            </div>
            <div>
                <p>Carrera:<span> Tecnicatura en Desarrollo Web</span></p>
                <p>Período:<span>abril 2020 - actual</span></p>
                <p>Comentarios:
                    <span> 
                        algunas materias aprobadas: Programación Básica I, Base de Datos I, Programación Web I. Materias en curso: Programación Básica II.
                    </span>
                </p>
            </div>
            <div class="edition">
                <a href="#"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
            </div>
        </div>
    </article>
</section>
<hr>