<section>
    <h3>Skills</h3>
    <div class="add-remove">
        <a href="#"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
        <a href="#"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
    </div>
    <article> 
        <div class="wrapper">
            <div class="box">
                <img class="skill" src="../../../assets/img/html-5.png" alt="HTML5">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/css-3.png" alt="CSS3">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/js.png" alt="JavaScript">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/java.png" alt="Java">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/python.png" alt="Python">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/nodejs.png" alt="Node Js">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/reactjs.png" alt="Node Js">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/angular.png" alt="Angular">
            </div>
            <div class="box">
                <img class="skill" src="../../../assets/img/typescript.png" alt="Typescript">
            </div>
        </div>
    </article>
</section>
<hr>