.wrapper{
    display: grid;
    grid-template-columns: 6em 6em 6em;
    grid-template-rows: 3em 3em 3em 3em;
    grid-gap: 12em;
    justify-content: space-around;
    flex-direction: column;
    padding: 3em;
} 

.box .circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img a{
    padding: 0 0.5em;
    cursor: pointer;
}

.img img{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 17.5em){
    
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper img{
        width: auto;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }
}

@media screen and (min-width: 18em) and (max-width: 37.5em){
    
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper img{
        width: auto;
        margin: auto;
    }
}