<section>
    <h3>Experiencia Laboral</h3>
        <div class="add-remove">
            <a href="#"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>
            <a href="#"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
        </div>
        <article> 
            <div class="information">
                <div>
                    <a href="https://www.plataforma5.la/ar/online" title="Plataforma 5" target="_blank"><img class="organization" src="../../../assets/img/p5.png" alt="Plataforma 5"></a>
                </div>
                <div>
                    <p>Cargo:<span> Tutor Docente</span></p>
                    <p>Período:<span> julio 2022 - actual</span></p>
                    <p>Funciones:
                        <span>
                                tutoría durante las horas de clase, responder dudas técnicas por la plataforma Discord, 
                            preparar una mini evaluación por clase, dar feedback sobre posibles candidatos para el Coding Bootcamp, tareas 
                            administrativas varias.
                        </span>
                    </p>
                </div>
                <div class="edition">
                    <a href="#"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
                </div>
            </div>
        </article>
</section>
<hr>