<section>
    <h3>Experiencia Laboral</h3>
        <div class="add-remove"> 
            <a [routerLink]="['nueva-experiencia-laboral']" *ngIf="isLogged"><img class="add" src="../../../assets/img/add.png" alt="Agregar"></a>       
        </div>
        <article *ngFor="let ExperienciaLaboral of experienciaLaboral">
            <div class="information">                 
                <div class="data">
                    <p>Empresa: <span>{{ExperienciaLaboral.empresa}}</span> </p>
                    <p>Cargo: <span id="details">{{ExperienciaLaboral.cargo}}</span></p>
                    <p>Período: <span>{{ExperienciaLaboral.periodo}}</span></p>
                    <p>Funciones: <span>{{ExperienciaLaboral.funciones}}</span></p>
                </div>
                <div class="edition">
                    <a [routerLink]="['editar-experiencia-laboral', ExperienciaLaboral.id]" *ngIf="isLogged"><img class="edit" src="../../../assets/img/edit.png" alt="Editar"></a>
                    <a (click)="delete(ExperienciaLaboral.id)" *ngIf="isLogged"><img class="remove" src="../../../assets/img/remove.png" alt="Eliminar"></a>
                </div> 
            </div>
        </article> 
</section>
<hr>